body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(to right, #ecf0f1, #bdc3c7); /* Fondo degradado en tonos grises */
    color: #333; /* Texto oscuro */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}

.container {
    text-align: center;
    margin-bottom: 50px;
    background: #fff; /* Fondo blanco para el contenedor principal */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    position: relative; /* Para posicionar elementos hijos relativos a este contenedor */
}

label {
    font-size: 1.2em;
    margin-bottom: 10px;
    display: block;
}

#movieTitle {
    padding: 10px;
    font-size: 1em;
}

button {
    padding: 10px;
    margin-top: 10px;
    background-color: #3498db; /* Azul */
    color: #fff; /* Texto blanco */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    transition: background-color 0.3s ease; /* Efecto de transición en hover */
}

button:hover,
button:active {
    background-color: #297fb8; /* Azul ligeramente más oscuro */
}

#movieInfo {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco ligeramente transparente */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    animation: fadeInOut 0.5s ease-in-out;
    position: relative; /* Para posicionar elementos hijos relativos a este contenedor */
}

@keyframes fadeInOut {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h2 {
    color: #3498db;
}

p {
    margin: 10px 0;
}

img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #f8f8f8;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.hidden {
    display: none;
}

a, button {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
}

a {
    background-color: #3498db;
    color: #fff;
}

a:hover,
a:active,
button:hover,
button:active {
    background-color: #297fb8;
    color: #fff;
}

/* Agregar formas geométricas */
.container::before,
#movieInfo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.container::before {
    background: linear-gradient(45deg, #bdc3c7, #ecf0f1); /* Fondo degradado en la esquina superior izquierda */
    border-radius: 10px; /* Bordes redondeados para el fondo */
}

#movieInfo::before {
    background: radial-gradient(circle, #bdc3c7, #ecf0f1); /* Fondo degradado en forma circular */
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%); /* Clip-path para forma triangular */
    border-radius: 10px; /* Bordes redondeados para el fondo */
}

